html {
	scroll-behavior: smooth;
}

body {
	color: white;
	background-color: rgb(65, 65, 65);
}

#images {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.photo_list {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 94vh;
}

.border {
	background-color: black;
	padding: 10px;
	margin-bottom: 7px;
	margin-top:8px;
	border-radius: 5px;
}

.photo_container{
	display:flex;
	justify-content: center;
	scroll-snap-align: center;
}

.photo {
	max-height: 90vh;
	max-width: 80vw;
}

#Title {
	position: fixed;
}

#about {
	position: fixed;
	cursor: default;
}

.bottom_button {
	height: 3vh;
	font-size: 2.5vh;
	bottom: .5vh;
	position: fixed;
}

#tooltip_container {
	display: flex;
	justify-content: center;
}

.center {
	text-align: center;
	position: fixed;
}

#tooltip
{
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background-color: black;
	padding: 5px;
	font-size: 30px;
	visibility: hidden;
	border-radius: 5px;
}

#footer {
	left:50%;
	transform:translate(-50%, 0);
	font-size: 2.5vh;
	white-space: nowrap;
	bottom: .5vh;
	padding:3px;
}



#about:hover+#tooltip, #about:focus+#tooltip, #about:active+#tooltip{
	visibility: visible;
}

.button {
	background-color: rgb(41, 41, 41);
	border-radius:2px;
	padding: 3px;
}

.button:hover
{
	background-color: rgb(29, 29, 29);
	cursor: pointer;
}

#switch_orientation {
	visibility: hidden;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

@media (max-width:480px)
{
	#fullscreen {display: none}
	#footer {font-size: 4vw;}
}

.change_day{
	position: fixed;
	top:50%;
	transform: translate(0,-50%);
	padding: 1vw;
	border-radius: 3vw;
	font-size: min(4vw, 3vh);
}

#right {
	right: 2vw;
}

#left {
	left: 2vw;
}

#fullscreen {
	right: 1vw;
}